body{
    font-family: 'Kanit', sans-serif;
}
div.header {
    
    width: auto;
    height: 97px;
    left: 0px;
    top: 0px;
    background-color :#FFA012;
    border-bottom: 8px solid #FFD90F;
    
}
div.text {
    position: absolute ;
    width: 291px;
    height: 53px;
    left: 130px;
    top: 4px;
    font-weight: 50px;
    font-size: 40px;
    line-height: 52px;
    color: #FFFFFF;
}
div.text2 {
    position: absolute;
    width: 514px;
    height: 35px;
    left: 130px;
    top: 46px;
    font-weight: lighter;
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
}

div.dropdown {
    position: absolute;
    right: 100px;    
    top: 25px;
}



img  {
    
    position: absolute;
    width: 98px;
    height: 89px;
    left: 24px;
    top: 0px;

}

body {
    background-color: #FFFFFF;
}

/*div.container{
    background-color: red ;
    height: 300px;
    width: 500px;
    display: block;
    margin: auto;
    display: table;

}*/

div.footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 70px;
    background-color: #FFA012;

}

div.FooterText {
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

